.container{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding: 10px;
    margin: 12px;
}

.productDetail {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    padding: 30px 25px 25px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-color: rgb(240, 255, 247);
}

.tittle {
    font-weight: 700;
    font-size: 18px;
}

.titleDetail{
    font-weight: 700;
    font-size: 15px; 
}

.image{
    width: 180px;
    margin: 5px;
}

.totalProducts{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
}

.detail {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    
}

.button{
    display: flex;
    margin: 15px;
    font-size: 16px;
}

.stock {
    display: flex;
    padding: 5px;
    font-size: 14px;
    align-items: end;
}