.navbar {
    background-color: rgb(33, 154, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

.productos ul{
    display: flex;
    list-style: none;
}

.productos li {
    margin: 20px 0;
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: 700;
    
}

.activo {
    
    color: white;
    text-decoration: none;
}

.inactivo {
    text-decoration: none;
    color: rgb(3, 67, 41);
}